mixin storeForm(store = {})
    .form-group
        label(for="name") Name
        input(name="name" placeholder="A store name" class="form-control" value=store.name)
    .form-group
        label(for="description") Description
        textarea(name="description" placeholder="Store's description" class="form-control")= store.description
    .form-group
        label(for="photo") Photo
        input(type="file" id="photo" name="photo" class="form-control" accept="image/gif, image/png, image/jpeg")
    if (store.photo)
        .form-group
            img(src=`/uploads/${store.photo}` alt=`${store.name}` class="img-fluid")
    .form-group
        label(for="address") Address
        input(
            id="address"
            name="location[address]"
            class="form-control"
            value=(store.location && store.location.address)
        )
    .form-group
        label(for="lng") Address Lng
        input(
            id="lng"
            name="location[coordinates][0]"
            class="form-control"
            value=(store.location && store.location.coordinates[0])
        )
    .form-group
        label(for="lat") Address Lat
        input(
            id="lat"
            name="location[coordinates][1]"
            class="form-control"
            value=(store.location && store.location.coordinates[1])
        )
    - const choices = ['Wifi', 'Open late', 'Family friendly', 'Vegetarian', 'Licensed']
    - const tags = store.tags || []
    ul.list-group
        each choice in choices
            li.list-group-item
                .form-check
                    input(
                        class="form-check-input"
                        type="checkbox"
                        name="tags"
                        id=choice
                        value=choice checked=(tags.includes(choice))
                    )
                    label(class="form-check-label" for=choice)= choice
